.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card > h5 {
  font-size: 25px;
  color: var(--dark-gray);
}

.card > h3 {
  font-size: 15px;
  font-weight: 400;
}

.card img {
  height: auto;
  width: 145px;
  margin-top: 15px;
}

@media (max-width: 950px) {
  .card > h5 {
    font-size: 22px;
  }

  .card > h3 {
    font-size: 12px;
  }

  .card img {
    margin-top: 5px;
  }
}
