.question {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  color: var(--dark);
  margin-bottom: 0.5em;
  border-bottom: solid var(--dark) 1px;
}

.question > p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1em;
}

.answer {
  overflow: hidden;
  transition: all 4s;
}

.answer p {
  margin: 0;
  font-size: 20px;
  padding: 1em;
}

.answer.active {
  max-height: 1000px;
  font-size: 20px;
}

@media (max-width: 540px) {
  .question > p {
    font-size: 13px;
  }
  
  .answer p {
    font-size: 12px;
  }
  
  .answer.active {
    font-size: 12px;
  }
}

@media (max-width: 950px) {
  .question > p {
    font-size: 18px;
  }
  
  .answer p {
    font-size: 16px;
  }
  
  .answer.active {
    font-size: 16px;
  }
}